@charset "UTF-8";
*{
	padding : 0;
	margin: 0 auto;
	box-sizing : border-box;
	list-style:none;
}
.container{
	width: 1080px;
	height: 100%;
	padding: 0 20px;
}
li{
	float: left;
}
a{
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
body{
	min-height: 100vh;
	position: relative;
}
.clear{
	clear:both;
}

/* Header */

header{
	width:100%;
	height:75px;
	line-height: 75px;
	background-color : #B9E2FA;
	color:#6A5ACD;
}
header .logo{
	float: left;
	font-size: 24px;
	font-weight: 700;
}
header .sidemenu{
	float: right;
}
header .sidemenu > li{
	width: 100px;
	text-align: center;
	cursor: pointer;
	font-weight:700;
}
header .sidemenu > li:hover{
	color:black;
}

/* nav */
nav{	
	width:100%;
	height:60px;
	border-bottom: 1px solid black;
	background-color : #B9E2FA;
}
nav .leftMenu{
	float: left;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
}
nav .leftMenu > li{
	width:auto;
	padding: 0 20px;
	height: 100%;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
nav .leftMenu > li:hover > .dropmenu{
	visibility: visible;
}
nav .leftMenu > li > .dropmenu{
	display: inline-block;;
	width:130px;
	clear: both;
	position: absolute;
	top: 59px;
	left: 0;
	text-align: left;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	visibility: hidden;
}
nav .leftMenu > li > .dropmenu > span{
	width:100%;
	display: inline-block;
	padding-left: 20px;
	background: #8C8CFF;
	color:white;
	font-weight: 400;
}
nav .leftMenu > li > .dropmenu > span:hover{
	font-weight: 700;
}
nav .leftMenu > li:hover{
	color:#6464CD;
	font-weight: 700;
	border-bottom: 3px solid #6464CD;
}
nav .leftMenu > li.active{
	color: #6464CD;
	font-weight: 700;
	border-bottom: 3px solid #6464CD;
}
nav .rightMenu{
	float:right;
}
nav .rightMenu > li{
	width: 100px;
	height: 36px;
	line-height: 32px;
	margin-top: 12px;
	margin-left: 10px;
	
	padding: 0 10px;
	text-align: center;
	
	color: white;
	background: #6464CD;
	font-weight: 700;
	border: 2px solid #6464CD;
	cursor: pointer;
	border-radius: 50px;
}
nav .rightMenu > li:hover, nav .rightMenu > li.active{
	color:black;
	background: #B9E2FA;
}

/* section */
section{
	width: 100%;
	height: 650px;
	padding: 30px 0;
	background: #fafafa;
}

/* section2 */
#section2{
    height: 520px;
}
#section2 > .container > .loginBox{
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #cbcbcb;
}
#section2 .loginBox > div{
    width: 100%;
    height: 320px;
    border-bottom: 1px solid #cbcbcb;
}
#section2 .loginBox .box{
    width: 50%;
    height: 100%;
    float: left;
    padding: 30px 30px;
    border-right: 1px solid #cbcbcb;
}
#section2 .loginBox .box .logo{
    height: 55px;
    border-bottom: 2px solid black;
}
#section2 .loginBox .box form{
    margin-top: 20px;
}
#section2 .loginBox .box input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}
#section2 .loginBox button{
    width: 100%;
    height: 40px;
    background: #6464CD;
    color: white;
    
    border: 0;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}
#section2 .loginBox .box form > button{
    margin-top: 30px;
}

#section2 .social{
    margin-top: 0px;
}
#section2 .social > h1{
    margin-bottom: 20px;
}

#section2 .social > button{
    float: left;
    margin-top: 10px;
}

#section2 .social > button.kakao{
    background: #FFC81E;
}
#section2 .social > button.facebook{
    background: #3b5999;
    margin-top: 33px;
}
#section2 .social > button.naver{
    background: #00bd39;
}

#section2 .alert{
    padding: 20px 30px;
}
#section2 .alert button{
    width: calc(50% - 10px);
    margin-top: 15px;
    float: left;
    background: white;
    color: #6464CD;
    border: 1px solid #6464CD;
}
#section2 .alert button:nth-child(1){
    margin-right: 10px;
}
#section2 .alert button:last-child{
    margin-left: 10px;
}
#section2 .alert button:hover{
    color: white;
    background: #6464CD;
} 

/* footer */
footer{
	width: 100%;
	height: 115px;
	border-top:1px solid #cbcbcb;
	background:white;
	font-size: 12px;
}
footer .top{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cbcbcb;
	margin-bottom: 15px;
}
footer .top span{
	height: 100%;
	line-height: 40px;
	padding-right: 15px;
	cursor: pointer;
	}
footer .top span:hover{
	font-weight: 700;
}
footer .copyright{
	margin-top: 5px;
}
