<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 세션 유지시간 설정 20분 -->
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  
  <!-- 컨텍스트 초기화 매개변수 web.xml 추가 설정-->
  <context-param>
     <param-name>INIT_PARAM</param-name>
     <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  
  <context-param> <!-- 드라이버 이름 -->
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param> <!-- 접속 URL -->
  	<param-name>OracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param> <!-- 오라클 일반 계정 id -->
  	<param-name>OracleId</param-name>
  	<param-value>musthave</param-value>
  </context-param>
  <context-param> <!-- 패스워드 -->
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
  <!-- 에러 페이지 분기 설정 : location은 위치 정보로 컨텍스 루트를 제외한 경로 -->  
  <!-- 에러페이지 분기 설정 -->
  <!-- location : 위치 정보, 컨텍스트 루트를 제외한 경로  
  <error-page>
     <error-code>404</error-code>
     <location>/02_ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
     <error-code>405</error-code>
     <location>/02_ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
     <error-code>500</error-code>
     <location>/02_ImplicitObject/Exception.jsp</location>
  </error-page>-->
</web-app>